# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!main.tf
!instance_profie.tf
!cw_agent_config.json
!userdata.sh

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt